@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assests/fonts/Inter-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../assests/fonts/Inter-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assests/fonts/Inter-SemiBold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assests/fonts/Inter-Bold.ttf');
  font-display: swap;
}
