.main {
  margin: 104px 0 0;
}
.section {
  &:last-child {
    position: relative;
    margin: 0 0 100px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      opacity: 0.1;
      background: #000;
      height: 1px;
    }
  }
  &__title {
    font: 500 normal 140px/1.2 'Inter';
  }
}

@import 'industries';
@import 'about-us';
@import 'for-whom';
@import 'products-and-solutions';
@import 'contact';
