.main {
  margin: 104px 0 0;
}
.section {
  // scroll-margin-top: 120px;
  // @include for-desktop-up {
  //   scroll-margin-top: 104px;
  // }

  &:last-child {
    position: relative;
    margin: 0 0 100px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      opacity: 0.1;
      background: #000;
      height: 1px;
    }
  }
  &__title {
    font: 500 normal 40px/1.2 'Inter';

    @include for-tablet-portrait-up {
      font-size: 50px;
    }
    @include for-tablet-landscape-up {
      font-size: 70px;
    }
    @include for-desktop-up {
      font-size: 100px;
    }
  }
}

@import 'industries';
@import 'about-us';
@import 'for-whom';
@import 'products-and-solutions';
@import 'contact';
