@mixin setTextOptions($color: $textPrimary, $font...) {
  color: $color;
  $isFirstFontWeight: index($fontList, nth($font, 1));
  @if $isFirstFontWeight {
    font-weight: nth($font, 1);
    font-size: nth($font, 2);
    line-height: nth($font, 3);
    @if length($font) == 4 {
      font-family: nth($font, 4);
    }
  } @else {
    font-size: nth($font, 1);
    line-height: nth($font, 2);
    @if length($font) == 3 {
      font-family: nth($font, 3);
    }
  }
}

@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  @if $direction != null {
    flex-direction: $direction;
  }
  @if $alignItems != null {
    align-items: $alignItems;
  }
  @if $justifyContent != null {
    justify-content: $justifyContent;
  }
}

@mixin placeInCenter() {
  @include flex(null, center, center);
}

@mixin overlay() {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
