$textPrimary: #050510;
$textsSecondary: #55555c;
$textTertiary: #97979b;

$lightContentDefaultPrimary: #c3c3c6;
$lightContentDefaultSecondary: #f3f3f6;
$lightContentDefaultTertiary: #fafafa;
$lightContentActivePrimary: #6534ff;
$bgPrimary: #fff;
$bgSecondary: #f7f7f8;

$fontPrimary: 'Inter', sans-serif;
$fontList: 100, 200, 300, 400, 500, 600, 700, 800, 900, inherit;