@import 'variables';
@import 'mixins';

@import 'fonts';
@import 'reset';

html {
  scroll-padding-top: 72px;

  @include for-desktop-up {
    scroll-padding-top: 104px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  @include for-tablet-landscape-up {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@import 'header';
@import 'main';
@import 'footer';
